

# ==============================================
# MTK Policy Rule
# ==============================================


# Date : 2016/07/11
# Operation: Migration
# Purpose: Add permission for gpu access
allow appdomain dri_device:chr_file { read write open ioctl };
