# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2014/11/14
# Operation: SQC
# Purpose: [ALPS01824827][SystemUI] [RenderThread][open device file failed]
# Package: com.android.systemui
allow platform_app proc_secmem:file r_file_perms;

# Date : 2014/12/30
# Operation : TUI Migration
# Purpose : TUI service need to access tui device driver
# Package: com.trustonic.tuiservice.TuiService
allow platform_app mobicore_tui_device:chr_file { read open ioctl };
allow platform_app mobicore_user_device:chr_file rw_file_perms;

# TODO:: MTK need to remove later
not_full_treble(`
	allow platform_app mobicore:unix_stream_socket connectto;
')

allow platform_app mobicore_data_file:file r_file_perms;
allow platform_app mobicore_data_file:dir search;
allow platform_app self:netlink_kobject_uevent_socket {create bind read setopt};

# Date: 2014/09/05
# Operation: FullUT
# Purpose: [SystemUI] [Bind to guiext-server for updating view][path:hardware/gui_ext/]
# Package: com.android.systemui
# allow platform_app guiext-server:binder { transfer call };

# Date : 2015/09/12
# Operation : SQC
# Purpose : allow settings get file of ntfs device
# Package: com.android.settings
allow platform_app fuseblk:dir create_dir_perms;

# Date : 2015/10/15
# Operation : jg_jinchuanqin
# Purpose :[ALPS02350168]allow Settings get file of ntfs device
# Package: com.android.settings
allow platform_app fuseblk:file create_file_perms;

# allow platform_app guiext-server_service:service_manager find;

# Date : 2017/06/01
# Operation : Migration
# Purpose : Allow camera app to find advcam servive
allow platform_app mtk_advcamserver_service:service_manager find;

# Date: 2017/08/24
# Stage: Migration
# Purpose: Allow to use lomo effect
# Package: com.mediatek.camera
#allow platform_app hal_camera_hwservice:hwservice_manager find;
allow platform_app mtk_hal_camera:binder call;

# Date: 2017/06/29
# Operation: Migration
# Purpose : Allow UICC terminal to find phoneEx service
# Package: org.simalliance.openmobileapi
allow platform_app mtk_radio_service:service_manager find;

# Date : 2017/10/02
# Stage: O Migration, SQC
# Purpose: Allow to use HAL PQ
hal_client_domain(platform_app, hal_pq)

# Date : 2017/10/02
# Stage: O Migration, SQC
# Purpose: Allow to use shared memory for HAL PQ
hal_client_domain(platform_app, hal_allocator)

# Date: 2018/05/08
# Operation: Migration
# Purpose : Allow System UI to find ppl agent
# Package: com.android.systemui.keyguard
allow platform_app mtk_hal_pplagent_hwservice:hwservice_manager find;
allow platform_app ppl_agent:binder call;

#============= platform_app ==============
allow platform_app debugfs_ion:dir search;

# Date: 2018/06/19
# Operation: Migration
# Purpose : Allow Dialer to get vendor_vt_prop
# Package: com.android.dialer
get_prop(platform_app, vendor_vt_prop)

# Date: 2018/07/03
# Operation: Migration
# Purpose : Allow Rcs to get mtk_rcs_support_prop/mtk_em_tel_log_prop
# Package: om.mediatek.rcs
get_prop(platform_app, mtk_rcs_support_prop)
get_prop(platform_app, mtk_em_tel_log_prop)

# Date: 2018/07/04
# Operation: P migration
# Purpose : allow radio get vzw device type property
get_prop(platform_app, persist_vendor_vzw_device_type)

# Date : 2018/07/02
# Operation : Migration
# Purpose : Allow platform app to get ECBM property
get_prop(platform_app, mtk_cdma_ecm_prop);


# Date: 2018/07/06
# Operation: Migration
# Purpose : Allow Entitlement to get mtk_wfc_entitlement_prop
# Package: com.mediatek.entitlement
get_prop(platform_app, mtk_wfc_entitlement_prop)

# Date: 2019/04/27
# Operation: Migration
# Purpose : Allow Entitlement to get mtk_cxp_vendor_prop
# Package: com.mediatek.entitlement
get_prop(platform_app, mtk_cxp_vendor_prop)

# Date: 2018/07/14
# Operation: Migration
# Purpose : Allow Dialer to get mtk_ims_prop
# Package: com.android.dialer
get_prop(platform_app, mtk_ims_prop)

# Date: 2018/07/03
# Operation: Migration
# Purpose : Allow Contacts to get mtk_uce_support_prop
# Package: com.android.contacts
get_prop(platform_app, mtk_uce_support_prop)

# Date: 2018/04/18
# Purpose: Allow platform app to use HIDL and access mtk_hal_neuralnetworks
#allow platform_app hal_neuralnetworks_hwservice:hwservice_manager find;
allow platform_app mtk_hal_neuralnetworks:binder { call transfer };

#Date: 2018/09/17
#Purpose: Allow platform app to get mtk_cam_security_prop
get_prop(platform_app, mtk_cam_security_prop)

# Date: 2018/09/29
# Purpose: Allow platform app to use BGService HIDL and access mtk_hal_camera
binder_call(platform_app, mtk_hal_camera)
binder_call(mtk_hal_camera, platform_app)

# Date: 2018/10/26
# Purpose: Allow platform app to set and get Subsidy Lock properties
get_prop(platform_app, mtk_subsidylock_prop)
set_prop(platform_app, mtk_subsidylock_prop_connect)

# Date: 2018/11/13
# Purpose: Allow platform app to use HIDL and access to mtk_hal_dplanner
allow platform_app mtk_hal_dplanner_hwservice:hwservice_manager find;
allow platform_app mtk_hal_dplanner:binder call;

# Date : 2019/05/16
# Operation : IT
# Purpose : Add for HIDL service
hal_client_domain(platform_app, md_monitor_hal);

# Date : 2019/09/27
# Operation : MDM IT with MDMLSample app
# Purpose : For MDMLSample to auto start md_monitor
set_prop(platform_app, config_prop);

# Date: 2019/09/27
# Operation : MDM IT with MDMLSample app
# Purpose: allow to read init.svc.md_monitor property for calling SystemService.waitForState()
get_prop(platform_app, init_svc_md_monitor_prop)

# Date : 2019/06/27
# Operation : platform app need to read mtk_cta_support_prop property
# Purpose : allow to get mtk_cta_support property
get_prop(platform_app, mtk_cta_support_prop);

# Dat: 2019/07/08
# Purpose: allow get telephony Sensitive property
# get_prop(platform_app, mtk_telephony_sensitive_prop)

# Date: 2018/12/19
# Purpose: Allow platform app to access mdlactl_device and vpu_device
allow platform_app mdla_device:chr_file { rw_file_perms };
allow platform_app vpu_device:chr_file { rw_file_perms };

# adupsfota start
allow platform_app recovery_service:service_manager find;
allow platform_app { cache_file cache_recovery_file }:dir create_dir_perms;
allow platform_app { cache_file cache_recovery_file }:file create_file_perms;
allow platform_app ota_package_file:dir create_dir_perms;
allow platform_app ota_package_file:file create_file_perms;
