#change partition permission
/dev/block/platform/soc/11120000.mmc/by-name/boot      0640    root    system
/dev/block/platform/soc/11120000.mmc/by-name/recovery  0640    root    system
/dev/block/platform/soc/11120000.mmc/by-name/seccfg    0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/proinfo   0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/nvram     0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/para      0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/logo      0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/frp       0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/odmdtbo   0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/odmdtbo_a 0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/odmdtbo_b 0660    root    system
/dev/block/platform/soc/11120000.mmc/by-name/kb        0660    root    drmrpc
/dev/block/platform/soc/11120000.mmc/by-name/dkb       0660    root    drmrpc

# Connectivity
/dev/stpwmt               0660   system     system
/dev/wmtdetect            0660   system     system

# BT
/dev/stpbt                0660   bluetooth  bluetooth

# GPS
/dev/stpgps               0660   gps        gps
/dev/gps                  0660   gps        system
/dev/mt3337_gpsonly       0666   gps        system

# WIFI
/dev/wmtWifi              0660   wifi     wifi

# FMRadio
/dev/fm                   0660   media     media

# NFC
/dev/msr3110              0666   root       root
/dev/mt6605               0660   nfc        radio

# MTK BTIF driver
/dev/btif                 0600   system     system

# GPU
/dev/dri/card0            0666   system     system

# MTK in-house TEE
/dev/trustzone            0660   system       drmrpc

# RGX device node
/dev/pvrsrvkm             0666   root       root
/dev/pvr_sync             0666   root       root

# RPMB
/dev/block/mmcblk0rpmb    0660   root       system

# RTC
/dev/alarm                0664   system     system

# leds blink node
/sys/devices/platform/leds-mt65xx/leds/red   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/red   delay_off      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/green   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/green   delay_off      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/blue   delay_on      0664  system   system
/sys/devices/platform/leds-mt65xx/leds/blue   delay_off      0664  system   system

#hang_detect
/dev/RT_Monitor           0600   system     system
/dev/kick_powerkey        0600   system     system
