# Device types
type hi_sys_device, dev_type;
type hi_ao_device, dev_type;
type hi_ai_device, dev_type;
type hi_pq_device, dev_type;
type hi_hdmi_device, dev_type;
type hi_vfmw_device, dev_type, mlstrustedobject;
type hi_vo_device, dev_type;
type hi_disp_device, dev_type;
type hi_omxvdec_device, dev_type;
type hi_log_device, dev_type;
type hi_mem_device, dev_type;
type hi_module_device, dev_type;
type hi_stat_device, dev_type;
type hi_tde_device, dev_type;
type hi_gfx2d_device, dev_type;
type hi_userproc_device, dev_type;
type hi_pvr_device, dev_type;
type hi_sync_device, dev_type;
type hi_adec_device, dev_type;
type hi_vdec_device, dev_type;
type hi_gpio_device, dev_type;
type hi_smmu_device, dev_type;
type hi_vpss_device, dev_type;
type hi_adsp_device, dev_type;
type hi_mce_device, dev_type;
type mali_device, dev_type, file_type, mlstrustedobject;
type mmz_userdev_device, dev_type;
type ttyAMA2_device, dev_type;
type hi_system_block_device, dev_type;
type hi_vendor_block_device, dev_type;
type hi_cache_block_device, dev_type;
type hi_userdata_block_device, dev_type;
type rtk_bt_device, dev_type;
