allow hal_wifi_supplicant_default proc_net:file { write };
allow hal_wifi_supplicant_default vendor_data_file:dir { add_name remove_name rmdir setattr write };
allow hal_wifi_supplicant_default vendor_data_file:sock_file { create setattr unlink write };
