set_prop(system_app, hisi_prop)
allow system_app mali_device:chr_file { getattr ioctl open read write };
allow system_app hi_vdec_device:chr_file { getattr read write open ioctl };

allow system_app hi_vfmw_device:file { write read open getattr };
allow system_app hi_vfmw_device:chr_file { write read open getattr };
allow system_app hi_overlay_file:file { read open getattr };
