
on post-fs-data
    mkdir /data/tee 0775 shell shell
    mkdir /data/tee/optee_armtz 0775 shell shell
    restorecon_recursive /data/tee

service tee-supplicant /system/bin/tee-supplicant 
    class main
    user  root
    oneshot
