# ==============================================
# MTK Policy Rule
# ==============================================

# Date : 2014/10/28
# Operation : hs_xiangxu
# Purpose : [ALPS01782971]Settings need read&write to system_app_data_file
# Package: com.android.settings
allow platform_app system_app_data_file:file {read write};

# Date : 2015/09/06
# Operation : SQC
# Purpose : [NFC][can not get nfc service]
# Package: com.android.gallery3d
allow platform_app nfc_service:service_manager find;

# Date : 2017/12/21
# Operation: IT
# Purpose : For hongbao optimization
allow platform_app mtk_connmetrics_service:service_manager find;

# Date : 2018/07/27
# Operation : Migration
# Purpose : allow platform_app to find aal_service
allow platform_app aal_service:service_manager { find };

# Date : WK19.22
# Purpose : access gpu hal
hal_client_domain(platform_app, hal_gpu)

# Date : 2019/05/28
# Operation : Q Migration
# Purpose : allow to get mtk_cta_set and mtk_cta_support property
get_prop(platform_app, mtk_cta_set_prop);

# Date: 2019/05/29
# Operation : Migration
# Purpose : Camera need read cl_cam_status
# Package: com.mediatek.camera
allow platform_app proc_cl_cam_status:file r_file_perms;

# Date : 2019/06/03
# Operation : Q Migration split build
# Purpose : allow to get mtk_rsc_sys_prop
get_prop(platform_app, mtk_rsc_sys_prop);

# Date : 2019/06/27
# Purpose : allow to set ctl.start/stop/restart property
set_prop(platform_app, ctl_campostalgo_prop);

# Date : 2019/06/27
# Purpose : allow to find camera postalgo service.
allow platform_app camerapostalgo_service:service_manager find;
