# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK19.22
# Purpose : access gpu hal
hal_client_domain(priv_app, hal_gpu)

