# ==============================================
# MTK Policy Rule
# ==============================================
type mntl_block_device, dev_type;
type power_loss_test_device, dev_type;
type vpud_device, dev_type;
type vcu_device, dev_type;
type mtk_mmdvfs_device, dev_type;
