# ==============================================
# MTK Policy Rule
# ==============================================


# Date : WK15.40
# Operation : Migration
# Purpose: for Camera preview feature, allow mediaserver to mkdir
#allow mediaserver nvram_data_file:dir { add_name write search create};

#allow mediaserver tee_device:chr_file { read write open ioctl };

#Purpose: hdcp for kisd(mtk94109)
#newverallow check failed
#allow mediaserver kisd:unix_stream_socket {connectto};

allow mediaserver cameraserver:fifo_file { read write getattr };
#allow mediaserver sysfs:file write;
