allow vendor_init init:dir search;
allow vendor_init init:file write;
allow vendor_init init:file open;
allow vendor_init powerctl_prop:file read;
allow vendor_init proc_sysrq:file write;
allow vendor_init system_prop:file read;
allow vendor_init default_prop:file read;
allow vendor_init proc_cmdline:file getattr;
allow vendor_init tmpfs:dir relabelfrom;
allow vendor_init proc_panic:file write;
allow vendor_init rootfs:dir read;